/*购物车*/
.header-bottom #onlineshop{left:57%;}
.shop-cart{}
.shop-cart a{border: 1px solid #e8e8e8;display: block;line-height: 28px;position: relative;padding: 10px;border-radius: 5px;}
.shop-cart span:first-child{padding-bottom: 10px;display: inline-block;}
.shop-cart .icon{display: inline-block;}
.shop-cart .icon-cart{background: url(../images/products/sprite-icons.png) -130px -152px;width: 29px;height: 28px;
	margin:0 20px 0 20px;}
.shop-cart .icon-num{width: 29px;height: 29px;border-radius: 50%;background-color: #2aad6f;color: #fff;font-weight: bold;
	text-align: center;position: absolute;top: 4px;right: 5px;}
.supports{padding: 20px 0 15px;border-bottom: 1px solid #ccc;}
.supports li{display: inline-block;font-size: 14px;color: #7b7b7b;}
.supports a{color: #7b7b7b;}
.supports span{padding: 0 10px;}
/*online-banner*/
.online-banner{width: 100%;height: 550px;margin-bottom: 50px;position: relative;overflow: hidden;}
.online-banner .banner-box{width: 300%;position: absolute;left: 0;top: 0;}
.online-banner .banner-box a{display: block;width: 34%;float: left;}
.online-banner .banner-box img{width: 100%;height: 550px;}
.online-banner>a{width: 40px;height: 70px;display: inline-block;position: absolute;top: 40%;z-index: 5;}
.online-banner>a:hover{opacity: .5;}
.online-banner .online-banner-prev{background: url(../images/products/sprite-icons.png) 0 -149px;left: 3%;}
.online-banner .online-banner-next{background: url(../images/products/sprite-icons.png) 0 -72px;right: 3%;}
.online-banner-switch{position: absolute;bottom: 20px;left: 45%;z-index: 5;}
.online-banner-switch li{width: 12px;height:12px;border-radius: 50%;background: #7b7b7b;text-indent: -9000px;
	display: inline-block;margin-right: 10px;border:2px solid #7b7b7b;}
.online-banner-switch .switchActive{border: 2px solid #2AAD6F;background: #fff;}
.online-banner-switch li:hover{border: 2px solid #2AAD6F;background: #fff;}

/*badge*/
.badge{display: inline-block;margin-right: 55px;}
.badge-icon{border: 2px solid #2aad6f;width: 80px;height: 80px;text-align: center;line-height: 100px;border-radius:50%;display: inline-block;}
.badge-icon span{background-image: url(../images/products/sprite-icons.png);display: inline-block;width: 35px;height: 35px;}
.badge-icon-1{background-position: -300px -490px;}
.badge-icon-2{background-position: -300px -455px;}
.badge-icon-3{background-position: -298px -356px;}
.badge-icon-4{background-position: -305px -520px;width: 30px;height: 30px;}
.badge-text{display: inline-block;margin-left: 10px;}
.badge-text h5{font-weight: bold;margin-bottom: 10px;}
.badge-text p{color: #7b7b7b;font-size: 14px;}
/*special-product*/
.special-product{width: 100%;margin-top: 50px;}
.special-product .left{display: inline-block;width: 50%;vertical-align: top;border-right: 1px solid #ccc;padding-top:50px;position: relative;
	height: 430px;}
.special-product .left-1{position: relative;/*height: 480px;*/width: 49%;overflow: hidden;display: inline-block;}
.special-product .left-1 img{}
.special-product .left-1 .left-text{color: #fff;text-align: center;position: absolute;left: 20%;top: 30%;}
.special-product .left-1 .left-text h1{font-weight: bold;font-size: 30px;margin-bottom: 20px;}
.special-product .left-1 .left-text p{display: inline-block;}
.special-product .left-2{display: inline-block;vertical-align: top;margin-top: 30px;}
.special-product .left-2>a{display: block;width: 48%;text-align: center;padding: 0 40px;}
/*.special-product .left-2 img{margin-left: 30px;}*/
.new-icon{display: inline-block;width:62px;height: 68px;position: absolute;right: 0;top: 0;}
.special-product .left-2 .left-intro{text-align: center;margin-top:30px;}
.special-product .left-2 .left-intro h2{margin-bottom: 40px;font-weight: 400;}
.special-product .left-2 .left-intro>a{color: #1f8657;font-weight: 700;font-size: 15px;}
.special-product .left .new-product{background-image:url(../images/onlineshop/ribbon-icon-new.png); }
.special-product .right{display: inline-block;padding-top: 100px;}
.special-product .right-1{display: inline-block;text-align: center;margin: 150px 30px;vertical-align: top;}
.special-product .right-1 h2{font-weight: 400;font-size: 24px;cursor: pointer;margin-bottom: 30px;}
.special-product .right-1 p{color: #1f8657;font-weight: bold;font-size: 18px;display: inline-block;}
/*badge-product*/
.badge-all{border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;}
.badge-product{display: inline-block;text-align: center;padding: 80px 38px 30px;position: relative;
	border-right: 1px solid #ccc;}
.badge-product h2{margin: 20px;}
.badge-product h2 a{font-weight: 500;color: #393939;}
.badge-product p{text-decoration: line-through;font-size: 13px;margin-bottom: 10px;}
.badge-product strong{font-weight: bold;font-size: 18px;color: red;}
.badge-all .badge-product-two{padding: 80px 44px 30px 43px;}
.badge-all .badge-product-four{border-right: none;}
.badge-all .badge-product-one strong{color: green;}
.badge-all .badge-product-one img{margin-top: 2px;}
.badge-all .badge-product-one h2{margin-bottom: 40px;}
.baokuan{background-image:url(../images/onlineshop/ribbon-icon-cheap.png);}
.cuxiao{background-image:url(../images/onlineshop/ribbon-icon-promotion.png);}
/*purchase-help*/
.purchase-help{background: url(../images/onlineshop/purchase-advisory-icon.jpg) no-repeat;width: 74px;height: 71px;
	position: fixed;top: 50%;right: 30px;text-indent: -9999px;z-index: 100;}
.purchase-help a{display: block;width: 100%;height: 100%;}