.wrapper{width: 1200px;margin: 0 auto;}
/*header*/
header{width: 100%;}
.header-top{background: #009B72;font-size: 13px;height: 35px;}
.header-top-active{background:#47B488;}
.header-top a{color: #fff;display: block;}
.header-top a:hover{background:#47B488;}
.header-top-left{float: left;}
.header-top-left li{float: left;border-left: 1px solid #47B488;}
.header-top-left a{padding: 11px 20px;}
.header-top-right{float: right;}
.header-top-right .search{vertical-align: top;float: left;}
.header-top-right .search a{padding: 10px 20px 8px;border-right:1px solid #47B488;}
.header-top-right .search a i{background: url(../images/products/sprite-icons.png) -130px -129px;display: inline-block;
	width: 18px;height: 16px;}
/*搜索框*/
.search-box{width: 100%;background: #ededed;height: 100px;line-height: 100px;display: none;
	position: absolute;left: 0;top: 40px;z-index:2; }
.search-box .wrapper{text-align: right;}
.search-box form{margin-right: 20px;}
.search-box input{border: none;font-size: 16px;}
.search-box input:first-child{width: 400px;height: 50px;padding-left: 10px;border-radius: 5px 0 0 5px;
	border-left: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.search-box input:focus{border-left: 1px solid #2AAD6F;border-top: 1px solid #2AAD6F;border-bottom: 1px solid #2AAD6F;}
.search-box input:last-child{background:#2AAD6F;color: #fff;text-align: center;height: 54px;width: 120px;
	font-weight: bold;border-right: 1px solid #2AAD6F;border-top: 1px solid #2AAD6F;border-bottom: 1px solid #2AAD6F;}
/*global-box*/
.global-box{width: 100%;background: #ededed;padding-top: 20px;position: absolute;left: 0;top: 35px;z-index:2;display: none;}
.global-box h3{color: #292929;font-weight: bold;font-size: 14px;}
.global-box ul{width: 1160px;margin: 0 auto;margin-top: 20px;}
.global-box li{display: inline-block;}
.global-box a{color: #7b7b7b;font-weight: bold;font-size: 13px;display: block;width: 140px;padding: 10px 0;}
.global-box ul li:last-child a{color: #2AAD96;}

.header-top-right .login{float: left;}
.header-top-right .login li{float: left;border-right:1px solid #47B488; }
.header-top-right .login li a{padding: 11px 20px;}
.header-top-right .global{vertical-align: top;float: left;}
.header-top-right .global a{padding: 11px 20px;}
.header-bottom{box-shadow: 2px 2px 5px #ccc;position: relative;}
.header-bottom .wrapper{height: 80px;line-height: 80px;}
.header-bottom h1{float: left;margin-top: 10px;}
.header-bottom h1 img{width: 190px;height: 31px;}
.header-bottom ul{float: right;}
.header-bottom ul li{display: inline-block;margin: 0 20px;}
.header-bottom li a{color: #7B7B70;font-size: 15px;padding-bottom: 5px;}
.header-bottom li a:hover{color: #393939;}
.header-bottom-active{border-bottom: 2px solid #2AAD6F;}
#onlineshop{position: absolute;left:73%;top: 74px;display:none;z-index: 6;}
.header-bottom .onlineshop{height:204px;}
.header-bottom #onlineshop i{background: url(../images/products/sprite-icons.png) -190px -554px;display:inline-block;
	width:10px;height: 7px;position: absolute;left: 48%;top:-6px;opacity: .7; }
.header-bottom .onlineshop li{background: #2aad6f;border-bottom: 1px solid #3bcf89;display: block;height: 50px;line-height: 50px;margin:0;}
.header-bottom .onlineshop li:hover{background:#46B487;}
.header-bottom .onlineshop li a{color: #fff;display: block;width: 200px;text-align: center;cursor: pointer;}
/*footer*/
footer{width: 100%;}
.footer-important{margin: 50px 10px;}
.footer-important div{background: #2AAD6F;font-weight: bold;margin-right: 2px;
	display: inline-block;vertical-align: middle;}
.footer-important div a{color: #fff;display: block;vertical-align: middle;height: 75px;width:342px;padding:20px;}
.footer-important div span{font-size: 18px;float: right;}
.footer-important div i{display: inline-block;text-indent: -9000px;} 
.footer-important-one span{margin-top: 20px;}
.footer-important-one:hover{background:#46B487; }
.footer-important-one i{background: url(../images/products/oppo-community.png);width: 69px;height: 57px;}
.footer-important .footer-important-two{background: #EDEDED;}
.footer-important-two span{margin-top: 25px;color: #000;}
.footer-important-two:hover{background:#ccc; }
.footer-important-two i{background: url(../images/products/colorOS.png);width: 68px;height: 68px;}
.footer-important-three span{margin-top: 25px;}
.footer-important-three:hover{background:#46B487; }
.footer-important-three i{background: url(../images/products/software_shop.png);width: 68px;height: 68px;}
.footer-sitemap{margin-left: 10px;}
.footer-sitemap dl{display: inline-block;vertical-align: top;margin-right: 152px;}
.footer-sitemap dt{font-weight: bold;font-size: 18px;margin-bottom: 30px;}
.footer-sitemap dt a{color: #1F8657;}
.footer-sitemap dd{margin-bottom: 10px;font-size: 15px;}
.footer-sitemap dd a{color: #7D7D7D;}
.footer-sitemap dd a:hover{color:#009B72; }
.fullscreen{border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin: 30px 0;}
.footer-services{width: 1180px;margin: 0 auto;height: 100px;margin-top: 30px;}
.footer-services .focus-join{float: left;height: 40px;line-height: 40px;}
.footer-services .focus-join dt{display: inline-block;margin-right: 5px;color: #7b7b7b;}
.footer-services .focus-join dd{display: inline-block;margin-right: 5px;}
.footer-services .focus-join dd a{text-indent: -9000px;display: inline-block;width: 40px;height: 35px;border-radius: 5px;
	padding: 2px;}
.footer-services .right{float: right;display: inline-block;}
.footer-services .phonecall{margin-top: 10px;margin-right: 50px;}
.footer-services .phonecall dt{color: #1f8657;font-size: 20px;font-weight: bold;}
.footer-services .phonecall dt a{color: #1f8657;font-size: 20px;font-weight: bold;}
.footer-services .phonecall dd{color: #393939;margin-top: 5px;}
.footer-services .phonecall dd a{color: #393939;}
.footer-services-focus .weibo{background:#2AAD6F url(../images/products/sprite-icons.png) -432px -904px;}
.footer-services-focus .weibo:hover{background:#49B386 url(../images/products/sprite-icons.png) -432px -904px;}
.footer-services-focus .weixin{background:#2AAD6F url(../images/products/sprite-icons.png) -433px -850px;}
.footer-services-focus dd{position: relative;}
.footer-services-focus .weixinpic{background:url(../images/products/wx.png);width: 120px;height: 120px;
	position: absolute;left: -20px;top: -125px; display: none;}
.footer-services-focus .weixin:hover{background:#49B386 url(../images/products/sprite-icons.png) -433px -850px;}
.footer-services-focus .weixin:hover+.weixinpic{display: block;}
.footer-services-join dt{margin-left: 20px;}
.footer-services-join dd a{background:#2AAD6F url(../images/products/sprite-icons.png) -370px -795px;}
.footer-services-join dd a:hover{background:#49B386 url(../images/products/sprite-icons.png) -370px -795px;}
.footer-services-onlinepic{width: 65px;height: 65px;border-radius: 50%;background:#2AAD6F;margin-right: 15px; }
.footer-services-onlinepic a{text-indent: -9000px;width: 57px;height: 50px;display: inline-block;
	background:url(../images/products/sprite-icons.png) -423px -786px;}
.footer-services-phonepic{width: 65px;height: 65px;border-radius: 50%;background:#2AAD6F;margin-right: 15px;}
.footer-services-phonepic i{text-indent: -9000px;background:url(../images/products/sprite-icons.png) -417px -2px;
	width: 56px;height: 54px;display: inline-block;}
.footer-services-online i{background:url(../images/products/sprite-icons.png) -194px -703px;display: inline-block;
	width: 5px;height: 10px;margin-left: 15px;}
.footer-version{width: 1180px;margin: 0 auto;}
.footer-version p{color: #7b7b7b;font-size: 12px;margin-bottom: 80px;}
/*right-bottom*/
.right-bottom{position: fixed;bottom: 20px;right: 20px;display: none;}
.right-bottom a{display: block;text-align: right;padding: 10px;}
.right-bottom a span{font-size: 15px;color: #fff;vertical-align:top;margin-right: 20px;display: none;}
.right-bottom i{width: 20px;height: 20px;display: inline-block;}
.right-bottom .backtoTop{background: url(../images/backtop-icon.png) no-repeat;}
.right-bottom .advice{background: url(../images/feedback-icon.png) no-repeat;}
.right-bottom a:hover{background:#49B386;}
.right-bottom a:hover span{display:inline-block;}
.right-bottom a:hover .backtoTop{background: url(../images/backtop-icon-active.png) no-repeat;}
.right-bottom a:hover .advice{background: url(../images/feedback-icon-active.png) no-repeat;}